@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul>
    <li><a href="index.html">HOME</a></li>
    <li>
        <a href="room-grid.html">ROOMS</a>
        <ul class="submenu">
            <li><a href="room-list.html">ROOM LIST</a></li>
            <li><a href="room-details.html">ROOM DETAILS</a></li>
        </ul>
    </li>
    <li><a href="location.html">LOCATION</a></li>
    <li><a href="event.html">EVENT</a></li>
    <li><a href="team.html">TEAM</a></li>
    <li><a href="contact.html">CONTACT</a></li>
</ul>
