
<section class="breadcrumb-area overlay-dark-2 bg-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <h2>Login </h2>
                    <p>A quality room of hotel ATR with sea or mountain view</p>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="contact-form-area pt-90">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
               
            </div>
            <div class="col-md-8">
                <h4 class="contact-title">send your massage</h4>
                <form id="contact-form" method="post" action="@Url.Action("Login","Home")">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="login" placeholder="Enter login">
                        </div>
                        <div class="col-md-6">
                            <input type="password" name="password" placeholder="Enter password">
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="default-btn">log in</button>
                        </div>
                    </div>
                </form>
                @*  <p class="form-messege"></p> *@
            </div>
        </div>
    </div>
</section>
